{% load static %}
<footer class="main-footer mt-5 pt-4 text-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Entre em contato</h3>
                <address>
                    <a href="mailto:{{ contato_email }}" class="text-light">{{ contato_email }}</a>
                </address>
            </div>
            <ul>
                <h6 class="white-text"> Redes sociais</h6>
                <a href="https://github.com/marvinsilva"><img src="{% static 'img/github.png' %}"
                        height=auto width="40"></a>
                <a href="https://linkedin.com/in/marcusvinicius92"><img src="{% static 'img/linkedin.png' %}"
                        height=auto width="40"></a>
            </ul>
        </div>
    </div>
    <div class="rights pb-2">
        <div class="container">
            <div class="row">
                <div class="col mt-2 pt-2">
                    {% now 'Y' %} Python Pro. Todos direitos reservados.
                </div>
            </div>
        </div>
    </div>
</footer>