{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python Pro - Home{% endblock title %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>
                    Curso de Python com Luciano Ramalho
                </h2>
                <h4 class="mt-4">Matrículas abertas! Valor R$1000,00</h4>
                <!-- INICIO FORMULARIO BOTAO PAGSEGURO -->
                <form action="https://pagseguro.uol.com.br/checkout/v2/payment.html" method="post"
                      onsubmit="PagSeguroLightbox(this); return false;">
                    <!-- NÃO EDITE OS COMANDOS DAS LINHAS ABAIXO -->
                    <input type="hidden" name="code" value="D80BD3F51111CC3EE4A22FBC4C678420"/>
                    <input type="hidden" name="iot" value="button"/>
                    <input type="image"
                           src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-azul-assina.gif"
                           name="submit" alt="Pague com PagSeguro - é rápido, grátis e seguro!"/>
                </form>
                <script type="text/javascript"
                        src="https://stc.pagseguro.uol.com.br/pagseguro/api/v2/checkout/pagseguro.lightbox.js"></script>
                <!-- FINAL FORMULARIO BOTAO PAGSEGURO -->
                {#                <h4 class="mt-4">Entre na fila de espera</h4>#}
                {#                <form action="https://herokuapp.us19.list-manage.com/subscribe/post?u=1f6ea141d0ebc96bf8d2434af&amp;id=a1ca459923"#}
                {#                      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"#}
                {#                      class="form-row align-items-center" target="_blank" novalidate>#}
                {#                    <div class="form-row align-items-center">#}
                {#                        <div class="col-auto">#}
                {#                            <label class="sr-only" for="mce-EMAIL">Email</label>#}
                {#                            <input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL"#}
                {#                                   placeholder="exemplo@email.com">#}
                {#                        </div>#}
                {#                        <div class="col-auto">#}
                {#                            <label class="sr-only" for="mce-FNAME">Name</label>#}
                {#                            <input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME"#}
                {#                                   placeholder="Seu Nome">#}
                {#                        </div>#}
                {#                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->#}
                {#                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"#}
                {#                                                                                                  name="b_1f6ea141d0ebc96bf8d2434af_a1ca459923"#}
                {#                                                                                                  tabindex="-1"#}
                {#                                                                                                  value=""></div>#}
                {#                        <div class="col-auto">#}
                {#                            <input type="submit" value="Salvar" name="subscribe"#}
                {#                                   id="mc-embedded-subscribe" class="btn btn-primary">#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </form>#}
            </div>
            <div class="card">
                <h5 class="card-header">
                    Mais detalhes sobre o instrutor
                </h5>
                <div class="card-body">
                    <p class="card-text">
                        <img src="{% static 'img/luciano-ramalho.png' %}" alt="Foto de Luciano Ramalho"
                             class="img-thumbnail float-left mr-3 text-justify" style="width: auto; height: 170px;"/>
                        Luciano Ramalho é programador Python desde 1998, Fellow da Python Software Foundation;
                        é sócio do Python.pro.br – uma empresa de treinamento – e cofundador do Garoa Hacker Clube,
                        o primeiro hackerspace do Brasil. Tem liderado equipes de desenvolvimento de software e
                        ministrado cursos sobre Python em empresas de mídia, bancos e para o governo federal. Autor
                        do livro <a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank"> Python
                        Fluente</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}